---

const { platform, username } = Astro.props

---

<style>
  a {
    padding: 0.57rem 1rem;
    color: white;
    background-color: #4c1d85;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: .060rem;
  }

  a:hover {
    background-color: #5f2b9a;
    text-transform: uppercase;
    transition: all .3s ease-in-out;
  }
</style>

<a target="_blank" href={`https://www.${platform}.com/${username}`}>{platform}</a>
